body{
background-color:black;
color:white;
}
.navbar {
    background-color: black;
    color: white ;
    padding: 20px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 10px;
}

.navbar li {
    display: inline;
    margin:  1px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.navbar a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

main {
    margin: 10px;
    padding: 10px;
}

.section1 ul {
    list-style-type: none;
    overflow: hidden;
    display: block;
   
}

.section1 li {
    float: left;
    margin:10px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    overflow:hidden;
    position:relative;
     padding:0;
    margin:0;
 }

.square img{
width:100px;
height:100px;
display:block;
border:10px;
padding:0px;
margin:0px;


}
.title{
    font-size: 14px;
    color: white; 
    text-align: center;
    font-weight: bold; 
}

.artist{
    font-size: 12px;
    color: white;
    text-align: center;
    font-style: italic; 
}
.circle{
    width:100px;
    height:100px;
    border-radius:50%;
    padding:0px;
     margin:0px;
    background-color:transparent;
    box-sizing: border-box; 
    overflow:hidden;
     position:relative;
     
}
.circle img{
    width:100px;
    height:100px;
    border-radius:50%;
    padding:0px;
     margin:0px;
      display:block;
    object-fit:cover;
   
   
}
.footer {
    text-align: right;
    background-color: black;
    font-size: 15px;
}

